html {
  font-family: 'AdobeGaramondW01-Regula', georgia, serif;
  font-size: 17px;
  line-height: 1.5em;
}

html, body {
  margin: 0;
  padding: 0;
    height: 100%;
        overflow-x: hidden;
}

header {
  background-color: #FCD33A;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  height: 100vh;
}



img {
  height: 85vh;
  margin: 0;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

div.headlines {
  padding-bottom: 1.6rem;
}

h1 {
  font-size: 10vw;
  color: #687D4d;
}

h2 {
    font-size:1.em;
  margin: 1em 0 0.8em;
  color: #53633E;
    line-height: 2em;
}

h3 {
    font-size: 0.8em;
}


h4, h6 {
  font-weight: normal;
}

h4 {
  margin: 1em 1em;
  font-size: 3.5vw;
}

h6 {
  margin: 0;
  font-size: 2.5vw;
  font-style: italic;
}

    div.headlines2 {
    float: right;
    width: 45vw;
    padding: 2vh 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #FCD33A;
  }

p {
    font-size: 0.8em;
    margin-left: 1em;
    margin-right: 1em;
}

   

header img {
    float: left;
    height: 100vh;
    width: 48vw;
  }

  div.headlines {
    float: right;
    width: 45vw;
    height: 90vh;
    padding: 2vh 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.headlines div {
    margin: auto;
  }

    
    
  h1 {
    margin-top: 0;
    font-size: 5vw;
  }

  h4 {
    font-size: 1.8vw;
  }

  h6 {
    margin: 0.5em 0;
    font-size: 1.3vw;
    font-style: italic;
  }

h7 {
    margin-left: 1em;
    font-size: 1em;
    font-style: italic;
    margin-left: 1em;
    margin-right: 1em;
    float: right;
  }

h8 {
    font-size:1.6em;
  margin: 1em 0 0.8em;
  color: #53633E;
    line-height: 2em;

    
}


}
#section {
  clear: both;
  padding: 2% 5% 2% 5%;
  background-color: white;
}

}
section p:first-child {
  margin-top: 0;
}



footer {
  text-align: center;
}

#quote {
    
    background-color: #FCD33A;
    float: right;
    width: 50%;
    color: #53633E;
}





#insert1 {
    background: url(../Images/forest1.png);
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    width: 100%;
    height: 450px;
    margin: 0;
    padding: 0; 
}

#img2 {
    background: url(../Images/bent-billiard-pipe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    margin: 0;
    padding: 0; 
}



#imgquote {
    
    text-align: center;
    color: #262626;
    height: 300px;
    padding-top: 8em;
    font-size: 1.em;
    
}

span
{
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
}

#title1 {
    font-size: 2em;
  margin: 1em 0 0.8em;
  color: #53633E;
    line-height: 2em  
}








#content1 {

    text-align:justify;
    margin-left: 10%;
    margin-right: 10%;
}


#content2 {

    
    background: url(../Images/cloth.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1em;
}

#content3 {
     margin-left: 7%;
    margin-right: 7%;
}




#backimg {
    
     background: url(../Images/cloth.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1em;
    
}




#box1 {
    
    background-color: #FCD33A;
    float: right;
    width: 50%;
    color: #53633E;
    font-size: 3.1vw;
    line-height: 1.3;

}

#box2 {
    
    
    float: left;
    width: 50%;
    height: 100%;
    color: #53633E;
    font-size: 6vw;
    line-height: 1em;
    background-color: white;

}



#fix {
   color: white;
    
}


#fixedtxt {
    padding-top: 1.5em;
    text-align:justify;
    margin-left: 10%;
    margin-right: 10%;
}

#fixedtxt2 {
    padding-top: 5em;
    text-align:justify;
    margin-left: 10%;
    margin-right: 10%;
}



#maintxt {
    
    text-align:justify;
    margin-left: 10%;
    margin-right: 10%;
}



#img1 {
    
    float: left;
    margin-right: 1em;
    height: 70%;
    overflow: hidden;
    
}




table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#smallprint {
    font-size: 0.55em;
    line-height: 1.7;
    text-align:center;
    
}



ul {
    list-style-image: url(../Images/bullet.png);
    margin-left: 6em;
    line-height: 2.2em;
    color: #53633E;
}

.nav ul {
  list-style: none;
  background-color: #53633E;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  
}
 
.nav a {
  text-decoration: none;
  color: #FCD33A;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #687D4d;
}
 

.nav li {
    display: inline-block;
    margin-right: -4px;
  }


@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
  }

@media and screen (max-width: 600px)    {
     
    #insert1 {
        display: block;
        width: 100%;
        float: none;
    }

    
    #insert2 {
        display: block;
        width: 100%;
        float: none;
    }
    
    header img{
        display: block;
        float: none;
        width:100%;
    }
    
    .headlines  {
        display: block;
        float: none;
        
        
    }
}

